@font-face {
    font-family: 'pumpoptidemibold';
    src: url('/fonts/pumpopti-demibold-webfont.woff2') format('woff2'),
            url('/fonts/pumpopti-demibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'pumpoptimedium';
    src: url('/fonts/pumpopti-medium-webfont.woff2') format('woff2'),
            url('/fonts/pumpopti-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}