@use 'fonts';

$primary-color: #0022ff;
$secondary-color: #ffffff;
$accent-color: #fff700;
$body-text-color: #000000;
$heading-font: 'benchninebold', Helvetica, Arial;
$body-font: 'benchnineregular', Helvetica, Arial;
// $base-font-size: 18px;
// $base-font-weight: 400;