@use 'fonts';

$primary-color: #f1c40e;
$secondary-color: #ffffff;
$accent-color: #2880b9;
$body-text-color: #9a4e2c;
$heading-font: 'pumpoptidemibold', Helvetica, Arial;
$body-font: 'pumpoptimedium', Helvetica, Arial;
// $base-font-size: 18px;
// $base-font-weight: 400;