@use '../abstracts' as a;

main {
    height: auto;
}

.main-title-con {
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 2rem;
    margin: 20px;
    font-family: a.$body-font;
}

.minions-logo {
    width: 300px;
    // background-color: a.$accent-color;
    border-radius: 5px;
}

.instructions {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-size: 2rem;
}

.character {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
    margin: .625rem;
    padding: 30px;

    background-color: #6e9140;
    border-radius: 5px;
}

.character img {
    height: 100%;
    width: 80%;
}

.zoom {
    transition: transform .2s; 
}

.zoom:hover {
    transform: scale(1.15);
}

.button-con {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-con a {
    padding: 10px 20px;
    font-size: 4rem; 
    color: white;  
    background-color: #007BFF;
    border: none;
    border-radius: 5px;  
    cursor: pointer;
    transition: background-color .3s;
}

.button-con a:hover {
    background-color: #0056b3;
}

.character {
    position: relative;
}

.character .name {
    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    width: 100%;
    top: 96%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity .3s;

    font-size: 3rem;
    color: #fff;
    background-color: a.$accent-color;
}

.character:hover .name {
    opacity: 1;
}
